* {
    list-style: none;
    margin:0;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}



/*Suggestions and profile*/
#right-sidepanel {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin:-0px 1200px
  }
  
  .status-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 700px;
    margin-top:30px;
  }
  
  .status-card {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    margin:-30px 0 0px 1080px;
  }
  
  .profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 1px;
  }
  
  .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #7a7a7a;
  }
  
  .username {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-family:'Franklin Gothic Medium';
    margin-left:145px;
    margin-top: -45px;
    color: rgba(0, 0, 0, 0.5);
  }
  .realname{
    width: 100%;
    position: absolute;
    overflow: hidden;
    text-align:start;
    font-size: 13px;
    margin-left:300px;
    margin-top: 45px;
    color: rgba(0, 0, 0, 0.5); 
  }
  .followed-by{
    width: 100%;
    overflow: hidden;
    text-align:start;
    font-size: 11px;
    margin-right:-620px;
    color: rgba(0, 0, 0, 0.5);  
  }
  .recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
  }
  .recommendations p{
    margin-bottom: 10px;
    margin-left: 50px;
  }
  .recommendation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  button {
    margin-left: 450px;
    margin-top: -20px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #3897f0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
/*Following header*/
  .follows{
    display: flex;
    flex-direction: row;
    margin: 50px 0 10px 180px;
}
.foryou button{
    margin: 0 10px;
    color:#0f0f0f;
    font-size: large;
    background-color: #ffffff00;
}
.following button{
margin: 0 -10px;
color:#bdbdbd;
font-size: large;
background-color: #ffffff00;
}
.divider{
    width: 700px;
    margin-left: 200px;
}

/*left sidebar menu*/
.title {
    padding-left: 24px 24px 32px 8px;
}
#sidebar-menu{
    width: 250px;
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
    border-inline-end: 1px #94949473 solid;
}
.menu-list {
    display:flex;
    flex-direction: column;
    gap:8px;
}
.menu-list img{
    display: flex;
    border-radius: 50%;
    width: 30px;
}

.menu__list-item a,
.menu__list-item a:link {
    padding:16px 8px; 
    display: flex;
    align-items: center;
    color:black;
    text-decoration: none;
    font-size: 15px;
}
.menu__list-item a:hover {
    color:rgb(56, 56, 56);
}
.menu__list-item-icon {
    margin-right: 16px;
    font-size:23px;
    position: relative;
    padding-left: 25px;
}
.menu__list-item-icon--notification::after{
    content:"";
    position: absolute;
    top: 4px;
    right:0;
    width:8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(211, 24, 24);
}

#main-content {
    margin-left:300px;
    background-color: rgb(255, 255, 255);
    width: calc(100vw - 250px);
    min-height:100vh;
}
.card{
    background-color: white;
    border: #484848 solid 1px;
}
.logo{
    padding-left: 20px; 
    }


 
/*stories panel*/
.left-side{
width: 100px;
}
/*story panel*/
.story{
width: 660px;
display: flex;
padding: 10px;
margin-left: 200px;
background-color: white;
border: 1px none rgb(182, 182, 182);
border-radius: 5px;
}
/*stories*/
.stories{
display: flex;
width: 380px;
height: 90px;
gap: 10px;


}
/*story pictures*/
.stories img{
display: flex;
gap:40px;
border-radius: 50%;
border:2px solid #c02487;
padding: 1px;
margin: 8px;
object-fit: cover;
}
/*stories names*/
.story-names{
display: flex;
gap: 35px;
margin: 70px;
margin-left: -663px;
padding-right: 100px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
list-style: none;
background-color: #86868600;

}
/*the entire post*/
.posts{
display:flex;
position: absolute;
flex-direction: column;
align-items: center;
margin-left: 200px;
overflow-y:auto ;
gap: 16px;
background-color: rgb(255, 255, 255);
}
/*Top post field*/
.post-left{
display: flex;
padding:10px 1%;
width: 700px;
background-color: #fffffffa;
margin-top: 26px;
border-radius: 2px;
font-size: 15px;
border-color: rgb(175, 175, 175);
border-width: 1px;
border-style: solid;

}
.post-left img{
display: flex;
border-radius: 50%;

}
.upload-time{
color:rgb(88, 88, 88);
margin: -34px 73px;
}
/*the ... menu*/
.post-right {
margin:58px 620px;
position:absolute;
font-size: large;  
color:black;  
}
/*actual image in post*/
.post-content img{
width: 699px;
height: 700px;
display:flex;
border-radius: 2px;
object-fit: cover;
border-color: rgb(138, 138, 138);
border-width: 1px;
border-style: solid;
}
/*bottom post panel*/
.post-footer{
background-color: white;
padding:10px;
border-radius: 3px;
width:700px;
border-color: rgb(138, 138, 138);
border-width: 1px;
border-style: solid;
}
/*emojies in panel*/
.post-footer i{
margin: 3px 4px;
font-size: 20px;
color:black

}
.save-post{
margin: -15px 650px;
position:absolute;
font-size: large; 
}
/*comments*/
.post-footer .comments{
color:gray;

}
/*just link details*/
a{
text-decoration: none;
color:rgb(37, 37, 37)
}
/*add comment field*/
.add-comment input{
border-style: none;
font-size: 15px;
}
.like-share-comment{
margin: 3px 4px;
font-size: 20px;
color:black    
}